/.vscode/*
/vendor/*
composer.*
psalm.xml
/build/*
/node_modules/*
.fake
api/database/database.sqlite
api/storage/framework/testing/disks/local/exports/01K5H465FAJFB6PCZ78SK93XPV.pdf
api/database/*.sqlite
